{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 style="font-family: 'Bebas Neue';  font-size: 66px; color:white; text-shadow: 1px 1px 2px black;"><center>Edit User<center></h1>

    {# {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }} #}
    <a class="btn btn-dark btn-block" href="{{ path('admin_user_index') }}"><i class="fas fa-undo"></i></a>
    <br> 
    {{ form_start(form) }}
        <div class="btn btn-dark btn-block">
            <div class="btn btn-dark btn-block">{{ form_row(form.email) }}</div>
            <div class="btn btn-dark btn-block">{{ form_row(form.plainPassword.first, {'attr' : {'value' : pass }}) }}</div>
            <div class="btn btn-dark btn-block">{{ form_row(form.plainPassword.second, {'attr' : {'value' : pass }}) }}</div>
            {# {{ form_row(form.title, {'attr' : {'placeholder' : 'Le titre...'}}) }} #}
            <div class="btn btn-dark btn-block">{{ form_row(form.roles) }}</div>
        </div>

            <button type="submit" type="button" class="btn btn-success btn-block">
                <i class="far fa-edit"></i> Update
            </button>
    {{ form_end(form) }}

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
